<p></p>
<nav>
    <ul class="pagination pg-purple">
        <li *ngFor="let tab of Grados" class="page-item" (click)="libro(tab.id)" [ngClass]="{'active': id === tab.id }"><a class="page-link" mdbWavesEffect>{{tab.grd}}</a></li>
    </ul>
</nav>

<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="card2 swiper-slide" *ngFor="let uno of Images">
            <img [src]="uno.src" />
            <div class="info">
                <p>{{uno.name}}</p>
                <a href="{{uno.url}}" target="_blank"><button>Ver mas</button></a>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>